*{
	box-sizing border-box
}

body{
	background $c-black
	font-family $font
	font-size 16px
	font-weight $w-regular
	margin 0
	min-height 100vh
	overflow-x hidden
	padding 0
	width 100vw
	&.no-scroll{
		overflow hidden
	}
}