.videos-container{
	background url(../images/bg-temp.png) no-repeat center center
	background-size cover
	height 100vh
	margin-top -96px
	position relative
	width 100vw
	.bg-texture{
		position-select(0,0)
		background url(../images/texture.png) center center
		background-size contain
		height 100%
		opacity .6
		width 100%
	}
	.logo{
		position-select(50%, 125px)
		height auto
		transform translate(-50%, 0)
		width 150px
		z-index 2
	}
}