////////////////
// VARS Color //
////////////////
$c-black = #2C2C2C
$c-yellow = #F5CB5C
$c-white = #D0D0D0
$c-white-more = #ffffff
////////////////
// VARS FONTS //
////////////////
$font = 'Lato', sans-serif
$w-regular = 400
$w-light = 300
$w-bold = 700
$w-black = 900